.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff; }
.breadcrumb::after {
  display: block;
  clear: both;
  content: ""; }

.breadcrumb-item {
  float: left; }
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #b0bec5;
  content: "/"; }
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline; }
.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }
.breadcrumb-item.active {
  color: #b0bec5; }



.breadcrumb-menu {
  position: absolute;
  top: 0;
  right: 1rem; }
.breadcrumb-menu::before {
  display: none; }
.breadcrumb-menu .btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }
.breadcrumb-menu .btn.btn-secondary {
  color: #b0bec5;
  border: 0; }
.breadcrumb-menu .btn.btn-secondary:hover, .breadcrumb-menu .btn.btn-secondary.active {
  color: #263238;
  background: transparent; }
.breadcrumb-menu .open .btn.btn-secondary {
  color: #263238;
  background: transparent; }
.breadcrumb-menu .dropdown-menu {
  min-width: 180px;
  line-height: 1.5; }

.breadcrumb {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #cfd8dc; }


*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed; }
*[dir="rtl"] ul {
  -webkit-padding-start: 0; }
*[dir="rtl"] table tr th {
  text-align: right; }
*[dir="rtl"] .breadcrumb-item {
  float: right; }
*[dir="rtl"] .breadcrumb-menu {
  right: auto;
  left: 1rem; }
*[dir="rtl"] .dropdown-item {
  text-align: right; }
*[dir="rtl"] .dropdown-item i {
  margin-right: -10px;
  margin-left: 10px; }
*[dir="rtl"] .dropdown-item .badge {
  right: auto;
  left: 10px; }
*[dir="rtl"] .sidebar-hidden .sidebar {
  margin-right: -200px; }
*[dir="rtl"] .sidebar-fixed .main, *[dir="rtl"] .sidebar-fixed .app-footer {
  margin-right: 200px; }
*[dir="rtl"] .sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-fixed.sidebar-hidden .app-footer {
  margin-right: 0; }
*[dir="rtl"] .sidebar-minimized .sidebar {
  flex: 0 0 50px; }
*[dir="rtl"] .sidebar-minimized.sidebar-hidden .sidebar {
  margin-left: -50px; }
*[dir="rtl"] .sidebar-minimized.sidebar-fixed .main, *[dir="rtl"] .sidebar-minimized.sidebar-fixed .app-footer {
  margin-left: 50px; }
*[dir="rtl"] .sidebar-minimized.sidebar-fixed.sidebar-hidden .main, *[dir="rtl"] .sidebar-minimized.sidebar-fixed.sidebar-hidden .app-footer {
  margin-left: 0; }
*[dir="rtl"] .aside-menu-hidden .aside-menu {
  margin-left: -250px; }
*[dir="rtl"] .aside-menu-fixed .aside-menu {
  right: auto;
  left: 0; }
*[dir="rtl"] .aside-menu-fixed .main, *[dir="rtl"] .aside-menu-fixed .app-footer {
  margin-left: 250px; }
*[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .main, *[dir="rtl"] .aside-menu-fixed.aside-menu-hidden .app-footer {
  margin-left: 0; }
*[dir="rtl"] .aside-menu-off-canvas .aside-menu {
  position: fixed;
  right: 0;
  z-index: 1019;
  height: 100%; }
*[dir="rtl"] .aside-menu-off-canvas .aside-menu .tab-content {
  height: calc(100vh - 2.375rem - 55px); }
*[dir="rtl"] .sidebar .sidebar-nav {
  direction: ltr; }
*[dir="rtl"] .sidebar .sidebar-nav * {
  direction: rtl; }
*[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class^="icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class^="icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link [class*=" icon-"], *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle [class*=" icon-"], .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle [class*=" icon-"] {
  margin-right: -4px; }
*[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link .badge, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .dropdown-toggle .badge, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .dropdown-toggle .badge {
  float: left;
  margin-top: 2px; }
*[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
  position: absolute;
  right: auto !important;
  left: 1rem; }
*[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before, *[dir="rtl"] .sidebar .sidebar-nav .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before, .navbar *[dir="rtl"] .sidebar .sidebar-nav .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
  transform: rotate(90deg); }
*[dir="rtl"] .horizontal-bars li .bars {
  padding-right: 100px;
  padding-left: 0; }
*[dir="rtl"] .horizontal-bars li .bars .progress:first-child {
  margin-bottom: 2px; }
*[dir="rtl"] .horizontal-bars.type-2 li i {
  margin-right: 5px;
  margin-left: 1rem; }
*[dir="rtl"] .horizontal-bars.type-2 li .value {
  float: left;
  font-weight: 600; }
*[dir="rtl"] .horizontal-bars.type-2 li .bars {
  padding: 0; }
*[dir="rtl"] .icons-list li {
  position: relative;
  height: 40px;
  vertical-align: middle; }
*[dir="rtl"] .icons-list li i {
  float: right; }
*[dir="rtl"] .icons-list li .desc {
  margin-right: 50px;
  margin-left: 0; }
*[dir="rtl"] .icons-list li .value {
  right: auto;
  left: 45px;
  text-align: left; }
*[dir="rtl"] .icons-list li .value strong {
  display: block;
  margin-top: -3px; }
*[dir="rtl"] .icons-list li .actions {
  right: auto;
  left: 10px; }
*[dir="rtl"] .callout {
  border: 0 solid #cfd8dc;
  border-right-width: .25rem; }
*[dir="rtl"] .callout .chart-wrapper {
  left: 0;
  float: left; }
*[dir="rtl"] .callout-default {
  border-right-color: #b0bec5; }
*[dir="rtl"] .callout-primary {
  border-right-color: #20a8d8; }
*[dir="rtl"] .callout-info {
  border-right-color: #63c2de; }
*[dir="rtl"] .callout-warning {
  border-right-color: #f8cb00; }
*[dir="rtl"] .callout-danger {
  border-right-color: #f86c6b; }
*[dir="rtl"] .callout-success {
  border-right-color: #4dbd74; }

/**
  表格样式
 */
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
  border-right: 1px solid #e9e9e9;
  text-align: center;
  padding: 5px;
}

/*.ant-table-wrapper {*/
  /*padding-top: 5px;*/
/*}*/


/**
  加载中，遮盖样式
 */
.ant-spin-nested-loading > div > .ant-spin {
  position: absolute;
  height: 200%!important;
  max-height: 320px;
  width: 100%;
  z-index: 4;
}
/**
  选中框样式
 */
.ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column {
  text-align: center;
  min-width: 34px!important;
  width: 20px!important;
  padding: 5px;
}
/**
  form样式
 */
/*.ant-advanced-search-form .ant-form-item {*/
  /*margin-bottom: -3px!important;*/
/*}*/
/*.ant-form-item {*/
  /*font-size: 12px;*/
  /*margin-bottom: -1px!important;*/
  /*color: rgba(0, 0, 0, 0.65);*/
  /*vertical-align: top;*/
/*}*/
