/* .shit:hover{
    width: 100px;
    height: 100px;
} */

*{
    /*font-size: 14px;*/
    /*color:  rgba(80, 80, 80, 0.9);*/
}
/*html{*/
    /*background: #eee;*/
/*}*/
.WrapDragger {
  /*width: 150px;*/
  /*height: 150px;*/
  /* border: 1px solid rgba(120, 120, 120, 0.4); */
  position: absolute;
  border-radius: 5px;
  display: inline!important;
  align-items: center;
  justify-content: center;
  background: white;
}


.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  left: 7px;
  height: 27px;
}

/**
  折叠面板header
 */
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 10px;
}

/**
  选中框和折叠面板上下之间的高度
 */
.ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
  padding-bottom: 0;
}

/**
  选中框里滚动条样式
 */
.ant-collapse-content{
  padding-right: 0 !important;
}

/**
  选中框样式
 */
.ant-checkbox-group>label{
  margin-bottom: 2px;
  width: 100%;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*!**
  折叠面板header
 *!
.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  width: 100%;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
